// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F18322;
$light-orange: #FBB97D;
$green: #1EDD88;
$gray: #191919;
$light-gray: #F4F4F4;
