// Specific CSS for your home-page
body {
  background-color: $base;
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 50vw;
  margin: 0 auto;
}

.search-bar {
  width: 50vw;
  text-align: center;
  font-size: 16px;
  background-color: $orange;
  border-radius: 4px;
  padding: 10px;
  margin: 0 auto;
}

.search-field {
  width: 75%;
  background-color: transparent;
  color: $base;
  border: none;
  outline: none;
}

input {
  color: $base;
}

.search-btn {
  background-color: transparent;
  border: none;
  color: $base;
  opacity: 0.7;
  &:hover {
  opacity: 1;
  }
}
