<div class="navbar pl-4 pr-4">
  <div class="navbar-logo">
    <i class="fas fa-glass-martini-alt"></i>
  </div>
  <div class="navbar-links">
    <%= link_to "Cocktails", root_path, class: "navbar-link" %>
    <%= link_to "Add New", new_cocktail_path, class: "navbar-link" %>
  </div>
</div>
