.cocktail-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.cocktail-card {
  background-color: $light-orange;
  text-align: center;
  padding-top: 32px;
  border-radius: 4px;
}

.cocktail-card a {
  text-decoration: none;
  text-shadow: 2px 1px 0px $font;
  font-size: 20px;
  color: $base;
  opacity: 0.7;
  &:hover {
    text-decoration: none;
    color: $base;
    opacity: 1;
  }
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
