.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.navbar-link {
  margin: 15px;
  text-decoration: none;
  color: $light-orange;
  &:hover {
    transition: 0.15s;
    text-decoration: none;
    color: $orange;
  }
}

.navbar-logo {
  margin-left: 15px;
  font-size: 32px;
  color: $light-orange;
}
