.navbar {
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.fas {
  font-size: 26px;
  text-decoration: none;
  color: #E3C1B2;
  opacity: 1;
  &:hover {
    transition: 0.15s;
    text-decoration: none;
    color: #D69176;
  }
}

.navbar-btn {
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  text-decoration: none;
  color: #E3C1B2;
  border: 1px solid #E3C1B2;
  &:hover {
    transition: 0.15s;
    text-decoration: none;
    opacity: 1;
    background-color: #E3C1B2;
    border: 2px solid #E3C1B2;
    color: #0B3338;
  }
}
