.navbar {
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.fas {
  font-size: 26px;
  text-decoration: none;
  color: $light-orange;
  opacity: 1;
  &:hover {
    transition: 0.15s;
    text-decoration: none;
    color: $orange;
  }
}

.navbar-btn {
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  text-decoration: none;
  color: $light-orange;
  border: 1px solid $light-orange;
  &:hover {
    transition: 0.15s;
    text-decoration: none;
    opacity: 1;
    background-color: $light-orange;
    border: 2px solid $light-orange;
    color: $base;
  }
}
